body {
font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
font-size: 100%;
}

#status {
/* avoid an excessively wide status text */
white-space: pre;
text-overflow: ellipsis;
overflow: hidden;
max-width: 400px;
}
  
.popup {
  background: 	#FFFFFF;
  font-size: 24px;
  padding: 20px;
}

.error-message {
	font-size: 12px;
	background: #e64b3f;
	color: #fff;
	padding: 5px;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 6px;
}

